body {
    background: #FEAC5E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;

}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 12px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
  .intro-img {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: auto;
  }

.my-inspiration-heading {
    border-style: solid;
    border-color: black;
    margin: 50px;
    padding: 20px 0 20px 0;
    font-size: 50px;
    background-color: #dddddd;
    opacity: 85%;
}

.my-inspiration-card {
    margin: 0 50px 0 50px;
}
.card-title {
    color: palevioletred;
}

.card-img-top{
    height: 500px;
    width: auto;
}

.connect-with-me-icon {
    display: block;
    justify-content: center;
    width:5vw;
  }

@media all and (max-width: 500px) {
    body{
        background-color: black;
    }

    .intro-img {
        width: 250px;
        height: auto;
    }

    .my-inspiration-heading {
        font-size: 5vw;
    }

    .card-img-top {
        max-height: 20rem;
    }
}

.css-position {
  margin: 50px 300px 50px 300px;
}

@media all and (max-width: 540px) {
  .css-position-iframe {
    width: 100rem;
    height: auto;
  }
}