/*All html css from here */
body {
    background: #FEAC5E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

p {
  line-height: 1.625;
  margin: 16px 0 32px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: 12px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

/*index.html page css from here*/

.main-page{
  margin: 50px 300px 50px 300px;
}

.intro-img {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: auto;
}

.inspiration-text {
  color: black;
  background: linear-gradient(90deg, red, orange, yellow, green, blue, purple);
  background-clip: text;
  -webkit-background-clip: text;
  text-decoration: none;
}

.inspiration-text:hover {
  color: transparent;
  transition: 500ms ease;
}

.icons {
  display: flex;
  justify-content: space-around;
  margin: 0 600px 0 600px;
  padding: 50px 0 50px 0;
  background: linear-gradient(90deg, red, orange, yellow, green, blue, purple);
  background-clip: text;
  -webkit-background-clip: text;
  text-decoration: none;
}

.icon:hover{
  color: transparent;
  transition: 500ms ease;
}


@media all and (max-width: 500px) {
    body{
        background-color: black;
    }

    .intro-img {
        width: 250px;
        height: auto;
    }

    .my-inspiration-heading {
        font-size: 5vw;
    }

    .card-img-top {
        max-height: 20rem;
    }
}

code {
  background: #f9f7fb9c;
  border: 1px solid #f9f7fb9c;
  border-radius: 4px;
  font-size: .9375em;
  padding: 1px 6px;
  margin: 5px;
}

/*My inspiration css from here */

.my-inspiration{
  margin: 50px 300px 50px 300px;
}

.my-inspiration-heading {
    border-style: solid;
    border-color: black;
    margin: 50px;
    padding: 20px 0 20px 0;
    font-size: 50px;
    background-color: #dddddd;
    opacity: 85%;
}

.my-inspiration-card {
    margin: 0 50px 0 50px;
}
.card-title {
    color: palevioletred;
}

.card-img-top{
    height: 500px;
    width: auto;
}

.css-position {
  margin: 50px 300px 50px 300px;
}

@media all and (max-width: 540px) {
  .css-position-iframe {
    width: 100rem;
    height: auto;
  }
}
/*about-me css from here*/

.about-me {
  margin: 50px 300px 50px 300px;
}


/*learning-plan css from here*/

.learning-plan {
  margin: 50px 300px 50px 300px;
}

.learing-plan-answer-box {
  background-color: rgb(233, 228, 228);
  opacity: .8;
  border-radius: 10px;
  padding: 32px 50px 0.1rem 50px;
  margin-bottom: 15px;
}

/*identity-values css from here*/
.identity-values{
  margin: 50px 300px 50px 300px;
}

.identity-values-box {
  background-color: rgb(233, 228, 228);
  opacity: .8;
  border-radius: 10px;
  padding: 32px 50px 0.1rem 50px;
  margin-bottom: 15px; 
}

/*html-css css from here*/


.css-position-box {

}